In [1]:
import numpy as np
import pandas as pd

In [2]:
# Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observations)
data = np.random.randn(4, 4) # Generate random values
df = pd.DataFrame(data)
df

          0         1         2         3
0 -0.359113  0.137937 -0.610284  1.082669
1 -0.631414 -1.302548  0.631955 -0.452407
2  0.303970  0.376974 -0.529544  0.405017
3 -1.530516  1.434589  0.798024  1.368587

In [5]:
# Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
column_names = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df.columns = column_names
df

   Random value 1  Random value 2  Random value 3  Random value 4
0       -0.359113        0.137937       -0.610284        1.082669
1       -0.631414       -1.302548        0.631955       -0.452407
2        0.303970        0.376974       -0.529544        0.405017
3       -1.530516        1.434589        0.798024        1.368587

In [4]:
# Task - 3 Find the descriptive statistics of the 'df' dataframe.
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.554268        0.161738        0.072538        0.600966
std          0.760191        1.127117        0.745660        0.810199
min         -1.530516       -1.302548       -0.610284       -0.452407
25%         -0.856189       -0.222184       -0.549729        0.190661
50%         -0.495264        0.257455        0.051205        0.743843
75%         -0.193343        0.641378        0.673472        1.154148
max          0.303970        1.434589        0.798024        1.368587

In [6]:
# Task - 4 Check for the null values in 'df' and find the data type of the columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [9]:
# Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
cols = df.iloc[:, 1:3]
cols

   Random value 2  Random value 3
0        0.137937       -0.610284
1       -1.302548        0.631955
2        0.376974       -0.529544
3        1.434589        0.798024